/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
} */
.slide-container{
  height: 400px;
  width: 90%;
  margin: 10px auto;

    
    
  }
  .each-slide{
    height: 500px;
    width: 100%;
    
  }

  .imageSlider{
      height: 100%;
      width:100%; 
     border-radius: 10px;
     background-position: center;
     background-size: cover;

  

  }

  /*start filter*/

  .parantimag 
  {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin: 130px 0 0 300px;
    grid-column-gap: 20px;
    column-gap: 20px;

  }
  

  .parantimag > div img 
  {
    width: 200px;
    height: 200px;
  }

  
  
  .container {
    position: relative;
    width: 50%;
    margin-bottom: 30px;
  }
  
  .image {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 5px;
  }
  
  
  
  .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 16px;
    right: 0px;
    height:200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(5, 5, 5);
    cursor: pointer;
    border-radius: 5px;
    
  }
  
  .container:hover .overlay {
    opacity: 0.6;
    

    
  }
  
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .footer {
    text-align: center;
    font-size: 15px;
    color: white;
    font-weight: bold;
    
    padding-top: 20px;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 60px;
    background-color: #591202;
    align-items: center;
    border-top: 2px solid #b9b9b9;
  }
  
  .shop2 {
    
    margin-left: 8px;
    height: 40px;
    color:rgb(133, 133, 133);
    width: 250px;
    justify-content:center;
    text-align: center;
    border-radius: 5px;
    box-sizing: border-box;
    background-color: white;
    box-shadow: 0px 1px 1px 2px rgb(138, 136, 136);
    padding:4px 6px 4px 4px;
  }
  .shop2 span{
    color: #591202;
    
  }

  .text-home{
    display: block;
    font-size: 50px;
    color:grey;
    text-align: center;
    margin-bottom: 20px;
  }

  .home-picture{
    display: flex;
    margin-left: 24%;
    margin-bottom: 30px;
  }

  .image-home{
    height: 20px;
    width: 20px;
  }

  .footer-distributed {
    background-color: #292c2f;
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.12);
    box-sizing: border-box;
    width: 100%;
    text-align: left;
    font: bold 16px sans-serif;
    padding: 30px 50px;
   
  }
  
  .footer-distributed .footer-left,
  .footer-distributed .footer-center,
  .footer-distributed .footer-right {
    display: inline-block;
    vertical-align: top;
  }
  
  .footer-distributed .footer-left {
    width: 40%;
  }
  
  .footer-distributed h3 {
    color: #ffffff;
    font: normal 36px "Cookie", cursive;
    margin: 0;
  }
  
  .footer-distributed h3 span {
    color: #5383d3;
  }
  
  .footer-distributed .footer-links {
    color: #ffffff;
    margin: 20px 0 12px;
    padding: 0;
  }
  
  .footer-distributed .footer-links a {
    display: inline-block;
    line-height: 1.8;
    text-decoration: none;
    color: inherit;
  }
  
  .footer-distributed .footer-company-name {
    color: #8f9296;
    font-size: 14px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-center {
    width: 35%;
  }
  
  .footer-distributed .footer-center i {
    background-color: #33383b;
    color: #ffffff;
    font-size: 25px;
    width: 38px;
    height: 38px;
    border-radius: 50%;
    text-align: center;
    line-height: 42px;
    margin: 10px 15px;
    vertical-align: middle;
  }
  
  .footer-distributed .footer-center i.fa-envelope {
    font-size: 17px;
    line-height: 38px;
  }
  
  .footer-distributed .footer-center p {
    display: inline-block;
    color: #ffffff;
    vertical-align: middle;
    margin: 0;
  }
  
  .footer-distributed .footer-center p span {
    display: block;
    font-weight: normal;
    font-size: 14px;
    line-height: 2;
  }
  
  .footer-distributed .footer-center p a {
    color: #5383d3;
    text-decoration: none;
  }
  
  .footer-distributed .footer-right {
    width: 20%;
  }
  
  .footer-distributed .footer-company-about {
    line-height: 20px;
    color: #92999f;
    font-size: 13px;
    font-weight: normal;
    margin: 0;
  }
  
  .footer-distributed .footer-company-about span {
    display: block;
    color: #ffffff;
    font-size: 14px;
    font-weight: bold;
    margin-bottom: 20px;
  }
  
  .footer-distributed .footer-icons {
    margin-top: 25px;
  }
  
  .footer-distributed .footer-icons a {
    display: inline-block;
    width: 35px;
    height: 35px;
    cursor: pointer;
    background-color: #33383b;
    border-radius: 2px;
  
    font-size: 20px;
    color: #ffffff;
    text-align: center;
    line-height: 35px;
  
    margin-right: 3px;
    margin-bottom: 5px;
  }
  
  @media (max-width: 880px) {
    .footer-distributed {
      font: bold 14px sans-serif;
    }
  
    .footer-distributed .footer-left,
    .footer-distributed .footer-center,
    .footer-distributed .footer-right {
      display: block;
      width: 100%;
      margin-bottom: 40px;
      text-align: center;
    }
  
    .footer-distributed .footer-center i {
      margin-left: 0;
    }
    .main {
      line-height: normal;
      font-size: auto;
    }
  }

  .pppppppppp{
    font-size: 30px;
    position: absolute;
    top: 1200px;
    margin-top: 15px;
    margin-left: 70px;
    height: 125px;
    width: 280px;
  }