/* * {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  
} */
.slide-container{
  height: 400px;
  width: 90%;
  margin: 10px auto;

    
    
  }
  .each-slide{
    height: 500px;
    width: 100%;
    
  }

  .imageSlider{
      height: 100%;
      width:100%; 
     border-radius: 10px;
     background-position: center;
     background-size: cover;

  

  }

  /*start filter*/

  .parantimag 
  {
    display: grid;
    grid-template-columns: 200px 200px 200px 200px;
    margin: 130px 0 0 300px;
    grid-column-gap: 20px;
    column-gap: 20px;

  }
  

  .parantimag > div img 
  {
    width: 200px;
    height: 200px;
  }

  
  
  .container {
    position: relative;
    width: 50%;
  }
  
  .image {
    display: block;
    width: 200px;
    height: auto;
    border-radius: 30px;
  }
  
  
  
  .overlay {
    position: absolute;
    top: 0px;
    bottom: 0px;
    left: 16px;
    right: 0px;
    height:200px;
    width: 200px;
    opacity: 0;
    transition: .5s ease;
    background-color:rgb(5, 5, 5);
    cursor: pointer;
    border-radius: 30px;
    
  }
  
  .container:hover .overlay {
    opacity: 0.6;
    

    
  }
  
  .text {
    color: white;
    font-size: 30px;
    position: absolute;
    top: 50%;
    left: 50%;
    display: flex;
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
    text-align: center;
  }