.all{
    padding: auto;
    margin: auto;
}

.partener{

display: flex;
gap: 50px;

}


.asd{
    margin: 0;

}


.a,.b,.c{

    border: 5px solid#657266;
    height: 37px;
    width: 145px;
    margin-top: 100px;
    text-align: center;
}

.r{

    display: flex;
    justify-content: space-around;
    
    
}


.Bookbtn {
    
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #657266;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
   
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .Bookbtn{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .Bookbtn:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .Bookbtn:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .Bookbtn:hover:after {
    opacity: 1;
    right: 10px;
  }

  .resname{
      text-align: center;
  }

  