.all{
    padding: auto;
    margin: auto;
}

.partener{

display: flex;

}
.inforesturant{
    margin: auto;
}

.imageres{

    height: 320px;
    width: 380px;
}
.input{

    margin-top: 51px;
    margin-right: 40px;
    
} 

.asd{
    margin: 0;

}


.a,.b,.c{

    border: 1px solid #4CAF50;
    height: 50px;
    width: 50px;
   
}

.r{

    display: flex;
}