body {
    box-sizing: border-box;
    font-family: 'Anton', sans-serif;
    
}


.parantrestaurant {
    
  display: grid;
  grid-template-columns: 60% 60%;
  background-color: #fff;
  padding: 50px;
}

.parantrestaurant > div {
    width: 70%;
}

.childrestaurant{
    display: flex;
}

.childrestaurant > div {
   width: 100%; 
}
.parantrestaurant >div{
    border: 1px solid darkgrey;

}

 .childrestaurant img 
{
    width: 100px;
    height: 100px;
} 

.filter{
    height: 80px;
    width: 100%;
    margin:15px auto;
    
    display: flex;

}
.filter button{
    height: 50px;
    width: 130px;
    margin:15px auto;
    
    cursor:pointer;
}