*{
    font-style:oblique;

}
.RN{
    display: grid;
    grid-template-columns: 20% 20% 20%;
    background-color: #fff;
    gap: 50px;
    margin: 4% 0 0 8%; 
}

.firstImg{
    width:300px;
    height: 300px;
    border-radius: 5px;
}

.loc_type{
    font-size:18px;
    display: grid;
    grid-template-columns: 10% 30%;
    background-color: #fff;
    gap:10px;
    margin: 10% 0 0 0;
}

.description{
    width:700px;
    height:200px;
    margin: 2% 0 0 30%;
 
}

.btnBooking {
    
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #657266;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 250px;
    transition: all 0.5s;
    cursor: pointer;
   margin: 30px 0 0 0px;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .btnBooking{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btnBooking:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .btnBooking:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .btnBooking:hover:after {
    opacity: 1;
    right: 10px;
  }


  .btnMenu {
    
    margin-top: 100px;
    margin-left: 150px;
    border-radius: 4px;
    background-color: #657266;
    border: none;
    color: #fff;
    text-align: center;
    font-size: 32px;
    padding: 16px;
    width: 700px;
    transition: all 0.5s;
    cursor: pointer;
   margin: 0px 0 0 30%;
    box-shadow: 0 10px 20px -8px rgba(0, 0, 0,.7);
  }
  
  .btnMenu{
    cursor: pointer;
    display: inline-block;
    position: relative;
    transition: 0.5s;
  }
  
  .btnMenu:after {
    content: '»';
    position: absolute;
    opacity: 0;  
    top: 14px;
    right: -20px;
    transition: 0.5s;
  }
  
  .btnMenu:hover{
    padding-right: 24px;
    padding-left:8px;
  }
  
  .btnMenu:hover:after {
    opacity: 1;
    right: 10px;
  }
  
  .imageSliderP{
    display: grid;
    grid-template-rows: 68% 40%;
    background-color: #fff;
    gap: 10px;
    margin: 4% 0 0 30%;
  }
  .imageSliderC{
    display: grid;
    grid-template-columns: 10% 10% 10% 10%;
    background-color: #fff;
    gap: 71.5px;
    /* margin: 4% 0 0 30%; */
  }

  .menuList{

    padding-left: 25px;
    display: grid;
    grid-template-columns: 40% 30% 30% ;
    background-color: #fff;
    gap:30px;
    margin: 4% 0 0 30%; 
    border: 1px solid gainsboro;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
    width: 47%;
    height: 50%;
  }
  .menuList p{
    padding-top: 15px;
  }
  .mainCourse{
    margin-left:10px;
  }
  .commant{
    padding: 10px;
    display: grid;
    grid-template-columns: 10% 60% 18% 10%;
    background-color: #fff;
    gap:30px;
    margin: 4% 0 0 30%; 
    border-bottom: 1px solid gainsboro;
   /* box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);  */
    width: 47%;
    height: 50%;
  }


  .infogoogle{
    border-radius: 4px;
    border-bottom: 1px solid;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.9);
  }
 