body {
    box-sizing: border-box;
    
}


.parantrestaurant {
    display: flex;
     flex-wrap:wrap; 
   
}
.parantrestaurant > div {
    width: 50%;
}

.childrestaurant{
    display: flex;
}

.childrestaurant > div {
   width: 100%; 
}
.parantrestaurant >div{
    border: 1px solid darkgrey;

}

 .childrestaurant img 
{
    width: 300px;
    height: 300px;
} 